html {height: 100%;}

body {
  margin: 0 auto;
  height: 100%;
  text-align: center;
  background-color: #B5DDDD;
}

a {
  text-decoration: none;
}

a, a:visited { color:#008B8B; }

a:hover      { color:#008B6B; }
a:active  { color:#004B6B; }


#title {
  font-size: 1.45em;
}

.body {
  margin: 0 auto;
  min-height: 100%;
  max-width: 55em;
  background-color: white;
}

h4 {margin:0;}

.header {
  padding: 2em;
  padding-bottom: 1em;
}

#underline {text-decoration: underline overline;}

.main {
  margin: 0 auto;
  padding: 2em;
  padding-top: 0;
  text-align: left;
}

table, th, td {
  border: 1px solid #EDF4F1;
  text-align: left;
}

table {
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  width: 15em;
}

th:nth-child(1), td:nth-child(1) {width: 6em;}
th:nth-child(2), td:nth-child(2) {width: 23em;}
th:nth-child(3), td:nth-child(3) {width: 15em;}
